@model GameViewModel

@{
    ViewData["Title"] = "Game";
}

@for(var a = -1; a < Model.Categories[0].Answers.Count(); a++)
{
    <div class='row @(a == -1 ? "text-white" : "")'>
        @for(var c = 0; c < Model.Categories.Count(); c++) {
            <div class="col bg-primary py-5 border border-white rounded">
                <h2 class="text-center">
                    @if (a == -1) {
                        @Model.Categories[c].CategoryTitle
                    } else {
                        if (Model.Categories[c].Answers[a].HasBeenRead == true) {
                            <span class="text-primary">
                                @($"${Model.Categories[c].Answers[a].AnswerValue}")    
                            </span>
                        } else {
                            <a href="#" class="text-warning" data-toggle="answer-modal" data-answerid="@(Model.Categories[c].Answers[a].AnswerId)">
                                @($"${Model.Categories[c].Answers[a].AnswerValue}")
                            </a>
                        }
                    }
                </h2>
            </div>      
        }
    </div>
}

<div id="modal-placeholder"></div>

@section Scripts {
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $('a[data-toggle="answer-modal"]').click(function(e){
                    e.preventDefault();
                    var $this = $(this);
                    var $modalPlaceholder = $('#modal-placeholder');
                    var answerId = $this.data('answerid');
                    var url = `~/Answer/${answerId}`;

                    $modalPlaceholder.on('hide.bs.modal', function (e) {
                        $.post(`${url}/complete`).done(function(data){
                            $this.removeClass('text-warning');
                            $this.addClass('text-primary');
                            $this.removeAttr('href');
                        });
                    });

                    $.get(url).done(function (data) {
                        $modalPlaceholder.html(data);
                        $modalPlaceholder.find('.modal').modal('show');
                    });
                });
            });
        })(jQuery);
    </script>
}